*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#logo{
    width: 150px;
    height:150px;
}
#text{
    
    text-shadow: #fff;
    color:darkblue;
    font-weight:bold;
}
#bg{
    width: 100%;
    height:620px;
}
#head{
    width:450px;
    height:200px;
}


.image-container {
    position: relative;
 
  }
  
  
  .overlay-text-top {
    position: absolute;
    top: 15%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
  }
.btn-ber{
    position: absolute;
    bottom: 1%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
}

.btn:hover{
    background-color: green;
}

.ht:hover{
    background-color: blue;
    border-radius: 0.5rem ;
    border:2px solid blue;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
#about{
    background-color: blanchedalmond;
}

#pool{
    border-radius: 1.5rem;
}
.card{
    border-radius: 1.5rem; 
}
.pay{
    background-color: rgb(198, 218, 228);
}